---
// Importiert die Werkzeuge. Auch hier hat StoryblokComponent einen eigenen Import.
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
---
<main {...storyblokEditable(blok)}>
  {blok.body.map(bodyBlok => (
    <StoryblokComponent blok={bodyBlok} />
  ))}
</main>